# Practice the pandas map() function

In [2]:
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']

In [12]:
# Import pandas.
import pandas as pd
# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [20]:
#USe map() to change each string value in the above series to anotyher value
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [ ]:
#Format() function - Sintax: "{value:format specification}".format(value)

In [25]:
# CrEate a list to format when printing
my_grades = [92.34, 84.56, 86.78, 98.32]

#Uses for conditional to iterate through the list
for grade in my_grades:

    #Prints each data from list applying the format() function
    print("{:.0f}".format(grade))

92
85
87
98

In [26]:
# Convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [27]:
# Format the grades to the nearest whole number percent.
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object