In [1]:
# Add the dependencies.
import pandas as pd
import os

In [3]:
# Declares variables for Files to load and indicates file(s) location
school_data_to_load = os.path.join("Resources", "schools_complete.csv")
student_data_to_load = os.path.join("Resources", "students_complete.csv")

# Read the school data file and store it in a Pandas DataFrame.
school_data_df = pd.read_csv(school_data_to_load)
school_data_df

student_data_df = pd.read_csv(student_data_to_load)
#Uses .head to only display the first 5 rows on the data set
student_data_df.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

### Deliverable 1

In [4]:
# Install numpy using conda install numpy or pip install numpy. 
# Step 1. Import numpy as np.
import numpy as np

In [9]:
# Use the loc method on the student_data_df to select all the reading scores from the 9th grade at Thomas High School and replace them with NaN.

#1.Declares a variables to store the condition (exclude Thomas h.s results in the 9th grade)
ths_condition = (student_data_df['school_name'] == "Thomas High School") & (student_data_df['grade'] == "9th")


student_data_df.loc[ths_condition,['school_name','grade', 'reading_score','math_score']]

student_data_df.loc[ths_condition,['reading_score']] = np.nan

In [10]:
#  Step 3. Refactor the code in Step 2 to replace the math scores with NaN.

student_data_df.loc[ths_condition,['math_score']] = np.nan

In [13]:
#  Step 4. Check the student data for NaN's. 

student_data_df.tail(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
39160,39160,Katie Weaver,F,11th,Thomas High School,89.0,86.0
39161,39161,April Reyes,F,10th,Thomas High School,70.0,84.0
39162,39162,Derek Weeks,M,12th,Thomas High School,94.0,77.0
39163,39163,John Reese,M,11th,Thomas High School,90.0,75.0
39164,39164,Joseph Anthony,M,9th,Thomas High School,NaN,NaN
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90.0
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70.0
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,NaN
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90.0
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75.0

In [ ]:
# Check the data types for each column of a DataFrame.
#school_data_df.dtypes

# Check the data types of a specific column of a DataFrame
#school_data_df["budget"].dtype

# Determine data types for the student DataFrame.
student_data_df.dtypes

In [ ]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

for word in prefixes_suffixes:
    student_data_df["student_name"]=student_data_df["student_name"].str.replace(word,"")
student_data_df

The school district summary will be a high-level snapshot of the district's key metrics:

Total number of students
Total number of schools
Total budget
Average math score
Average reading score
Percentage of students who passed math
Percentage of students who passed reading
Overall passing percentage

In [ ]:
school_data_complete_df=pd.merge(student_data_df,school_data_df,on=["school_name","school_name"])
#school_data_complete_df.head()

In [ ]:
# Get the total number of students.
student_count=school_data_complete_df["Student ID"].count()
student_count

In [ ]:
#Total of schools on data frame
school_count=school_data_complete_df["school_name"].count()
school_count

In [ ]:
#unique total of schools (no dupolications)
school_count_2=school_data_complete_df["school_name"].unique()
school_count_2

In [ ]:
#Count of unique total of schools
len(school_data_complete_df["school_name"].unique())

In [ ]:
#Get the Total Budget using sum from the school data df (csv)
total_budget=school_data_df["budget"].sum()
total_budget

In [ ]:
#Find the Average Reading Score

# Calculate the average reading score.
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

In [ ]:
#Find the Average Math Score

# Calculate the average math score.
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

In [ ]:
#Get the Passing Percentages
#Declares a variable that list  true and false for each data row based on criteria
passing_math=school_data_complete_df["math_score"]>=70
passing_reading=school_data_complete_df["reading_score"]>=70

In [ ]:
#Get only students within the passing criteria
passing_math=school_data_complete_df[school_data_complete_df["math_score"]>=70]
passing_math.head()

In [ ]:
passing_reading=school_data_complete_df[school_data_complete_df["reading_score"]>=70]
passing_reading.head()

In [ ]:
#Get the total # of students who have passed (under criteria)
passing_math["student_name"].count()

In [ ]:
#Get the total # of students who have passed (under criteria)
passing_reading["student_name"].count()

In [ ]:
#Variable to store passing scores (data under criteria) 
passing_math_count=passing_math["student_name"].count()
print(passing_math_count)
passing_reading_count=passing_reading["student_name"].count()
print(passing_reading_count)

In [ ]:
#Calculate the percentage of students who passed math and reading
#declare variables for the percentages for math and readin
passing_math_percentage = passing_math_count / student_count * 100
passing_reading_percentage = passing_reading_count / student_count * 100
print(passing_math_percentage)
print(passing_reading_percentage)

In [ ]:
#Get the overall passing score. 
#Combine the classes passing score lists
passing_math_reading=school_data_complete_df[(school_data_complete_df["math_score"]>=70)&(school_data_complete_df["reading_score"]>=70)
]
passing_math_reading.head()

In [ ]:
#Print total number of overall passing sutdents (both classes)
passing_math_reading["student_name"].count()

In [ ]:
#Percentage of overall passing students (both classes)
overall_passing_percentage = passing_math_reading["student_name"].count() / student_count * 100
overall_passing_percentage

In [ ]:
#Crate a summary tbale(df) to store analysis results above
#Declare a new data frame name (district_summary_df) as pandas (pd) data fram (DataFrame)
# Add the keys(columns) and rows(values) using the variables calculated previously
district_summary_df=pd.DataFrame([{"Total Schools":len(school_count_2),"Total Students": student_count,
                                  "Total Budget":total_budget,                                  
                                  "Average Math Score":average_math_score,
                                "Average Reading Score":average_reading_score,                                 
                                 "% Passing Math":passing_math_percentage,
                                   "% Passing Reading":passing_reading_percentage,
                                 "% Overall Passing":overall_passing_percentage}])

# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
# Format the "Total Budget" to have the comma for a thousands separator, a decimal separator and a "$".
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

# Display the data frame
district_summary_df

### Formating to results using function

#### There are four basic parts to a function:

-The name, which is what we call the function

-The parameters, which are values we send to the function

-The code block, which are the statements under the function that perform the -task

-The return value, which is what the function gives back, or "returns," to use 

-when the task is complete

In [ ]:
# Define the function "say_hello" so it prints "Hello!" when called.
def say_hello():
    print("Hello!")
# Call the function.
say_hello()

In [ ]:
# Define the function "say_something" so it prints whatever is passed as the variable when called.
def say_something(something):
    print(something)

# Call the function.
say_something("Hello World")

In [ ]:
Jane_says = "Hi, my name is Jane. I'm learning Python!"
say_something(Jane_says)

In [ ]:
def passing_math_percent():
    return passing_math_count / student_count * 100
passing_math_percent()

Reorder the columns in the order you want them to appear.
new_column_order = ["column2", "column4", "column1"]

Assign a new or the same DataFrame the new column order.
df = df[new_column_order]

Reorder the columns in the order you want them to appear.
new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

Assign district summary df the new column order.
district_summary_df = district_summary_df[new_column_order]
district_summary_df

# Perform simmilar analysis for each school

## Exploring two ways to get the student count using

school_data_df and school_data_complete

### Using school_data_df

In [ ]:
# Determine the school type.
# Uses the "set_index" method to return a Series where:
# 1- the index = school_name
# 2- shows a column with the type of school
per_school_types = school_data_df.set_index(["school_name"])["type"]
per_school_types

In [ ]:
# Add the per_school_types into a DataFrame for testing.
df = pd.DataFrame(per_school_types)
df

In [ ]:
# Calculate the total student count using the existing df "school_data_df"
per_school_counts = school_data_df["size"]
per_school_counts

This Series doesn't have an index with "school_name." Therefore, we can't use the "size" column from school_data_df to get the count of the student population.

To fix this, we can use the set_index() method on the "school_name" column, and then select the "size" column to display the student count for each school.

In [ ]:
# Calculate the total student count using the "set.index" function
# that will bring the series having "school name" as the index
per_school_counts = school_data_df.set_index(["school_name"])["size"]
per_school_counts

### Using school_data_complete_df

In [ ]:
# Calculate the total student count using the df "School_data_conplete_df"
#Uses value_counts() to help count how many times the school names appears
#on the list (via "school_name" column)
per_school_counts = school_data_complete_df["school_name"].value_counts()
per_school_counts

In [ ]:
# Calculate the total school budget.
per_school_budget = school_data_df.set_index(["school_name"])["budget"]
per_school_budget

In [ ]:
# Calculate the per capita spending.
per_school_capita = per_school_budget / per_school_counts
per_school_capita

Because the per_school_budget and per_school_counts are Series, both data types are int64, and both have the same index, the calculation will happen for all the series

In [ ]:
# Retrieve the math scores from df
student_school_math = student_data_df.set_index(["school_name"])["math_score"]
student_school_math

#This will bring each student score using the school name as index

In [ ]:
# Calculate the average of each column on a df
per_school_averages = school_data_complete_df.groupby(["school_name"]).mean()
per_school_averages

In [ ]:
# Calculate the average score for only a specific column in the df
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_math

In [ ]:
# Calculate the average score for only a specific column in the df
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]
per_school_reading

# Pseudocode from Maria

 To get the passing percentages, we need to:
 1. Determine what is the passing grade.
 2. Get the number of students who passed math and reading.
 3. Get the students who passed math and passed reading

In [ ]:
# Calculate the passing scores by creating a filtered DataFrame [].
#the below brings all results from school_data_complete_df that are under the pass criteria
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]

per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

per_school_passing_math.head()

In [ ]:
# Calculate total number of students passing math reading by school.
#uses "groupby(["column"]) + count()[individuos on list]
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]

per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

per_school_passing_math

In [ ]:
per_school_passing_reading

In [ ]:
# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = per_school_passing_math / per_school_counts * 100

In [ ]:
per_school_passing_math

In [ ]:
# Calculate the percentage of passing math and reading scores per school.

per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

In [ ]:
per_school_passing_reading

In [ ]:
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >=70) & (school_data_complete_df["reading_score"] >=70)]

per_passing_math_reading.head()

In [ ]:
# Calculate the number of students who passed both math and reading.
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]

In [ ]:
per_passing_math_reading

In [ ]:
# Calculate the overall passing percentage.
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100

In [ ]:
per_overall_passing_percentage

In [ ]:
# Adding a list of values with keys to create a new DataFrame.

per_school_summary_df = pd.DataFrame({"School Type": per_school_types,
                                      "Total Students":per_school_counts,
                                      "Total School Budget":per_school_budget,
                                      "Per Student Budget": per_school_capita,
                                     "Average Math Score":per_school_math,
                                     "Average Reading Score":per_school_reading,
                                     "% Passing Math":per_school_passing_math,
                                     "% Passing Reading":per_school_passing_reading,
                                     "% Overall Passing":per_overall_passing_percentage})

# Format the Total School Budget and the Per Student Budget columns.
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

per_school_summary_df.head()

In [ ]:
#Reoder columns of df
new_column_order=["School Type","Total Students","Total School Budget","Per Student Budget","Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing"]

per_school_summary_df=per_school_summary_df[new_column_order]

per_school_summary_df.head()

In [ ]:
# Sort and show top five schools using ".sort_values" and ascending
#% Overall Passing = criteria
#set ascending to = "False" to show higest first

top_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=False)

top_schools.head()

In [ ]:
# Sort and show top five schools using ".sort_values" and ascending
#% Overall Passing = criteria
#set ascending to = "True" to show lowest first

top_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=True)

top_schools.head()

# Object oriented programming

Object-oriented programming uses classes and objects to organize information: an object can hold attributes, and it can also run functions. When a function is associated with an object, it is called a method.

In [ ]:
class Cat:
    def __init__(self, name):
        self.name = name

first_cat = Cat('Felix')
print(first_cat.name)

In [ ]:
second_cat=Cat('Garfield')
second_cat.name

In [ ]:
class Dog:
    def __init__(self, name, color, sound):
        self.name = name
        self.color = color
        self.sound = sound

    def bark(self):
        return self.sound + ' ' + self.sound

In [ ]:
first_dog = Dog('Fido', 'brown', 'woof!')
print(    first_dog.name)
print(first_dog.color)
first_dog.bark()

In [ ]:
second_dog=Dog('Lady','blonde','arf!')
second_dog.bark()

# Create three new DataFrames

-1 - to Display the average math scores for each grade
-2 - Displays the average reading scores for each grade
3 - Final DataFrame were the index on the school name and the average math or reading score for each grade: 9th, 10th, 11th, and 12th.

In [ ]:
# Create grade level DataFrames
ninth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "9th")]

tenth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "10th")]

eleventh_graders = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]

twelfth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "12th")]

In [ ]:
ninth_graders.head()

In [ ]:
# Group each grade level DataFrame by the school name for the average math score.
ninth_grade_math_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]

tenth_grade_math_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]

eleventh_grade_math_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]

twelfth_grade_math_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

ninth_grade_math_scores

In [ ]:
eleventh_grade_math_scores['Pena High School']

In [ ]:
# Group each grade level DataFrame by the school name for the average reading score.
ninth_grade_reading_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]

tenth_grade_reading_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]

eleventh_grade_reading_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]

twelfth_grade_reading_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

In [ ]:
ninth_grade_reading_scores

In [ ]:
twelfth_grade_reading_scores=twelfth_grade_reading_scores.map("{:.6f}".format)
twelfth_grade_reading_scores['Shelton High School']

In [ ]:
#Combine each grade level Series into a DataFrame

# Combine each grade level Series for average math scores by school into a single DataFrame.
math_scores_by_grade = pd.DataFrame({
               "9th": ninth_grade_math_scores,
               "10th": tenth_grade_math_scores,
               "11th": eleventh_grade_math_scores,
               "12th": twelfth_grade_math_scores})

math_scores_by_grade.head()

In [ ]:
# Combine each grade level Series for average reading scores by school into a single DataFrame.
reading_scores_by_grade = pd.DataFrame({
              "9th": ninth_grade_reading_scores,
              "10th": tenth_grade_reading_scores,
              "11th": eleventh_grade_reading_scores,
              "12th": twelfth_grade_reading_scores})


reading_scores_by_grade.head()

In [ ]:
  # Format each grade column.
  math_scores_by_grade["9th"] = math_scores_by_grade["9th"].map("{:.1f}".format)

  math_scores_by_grade["10th"] = math_scores_by_grade["10th"].map("{:.1f}".format)

  math_scores_by_grade["11th"] = math_scores_by_grade["11th"].map("{:.1f}".format)

  math_scores_by_grade["12th"] = math_scores_by_grade["12th"].map("{:.1f}".format)

  # Make sure the columns are in the correct order.
  math_scores_by_grade = math_scores_by_grade[
                 ["9th", "10th", "11th", "12th"]]

  # Remove the index name.
  math_scores_by_grade.index.name = None
  # Display the DataFrame.
  math_scores_by_grade.head()

# Why this one doesn't work?

In [ ]:
reading_scores_by_grade["9th"] = reading_scores_by_grade["9th"].map("{:,.1f}".format)
reading_scores_by_grade["10th"] = reading_scores_by_grade["10th"].map("{:,.1f}".format)
reading_scores_by_grade["11th"] = reading_scores_by_grade["11th"].map("{:,.1f}".format)
reading_scores_by_grade["12th"] = reading_scores_by_grade["12th"].map("{:,.1f}".format)

## Remove the index.
reading_scores_by_grade.index.name = None
# Display the data frame
reading_scores_by_grade.head()

In [ ]:
#To create ranges of spending
#based on already determined per capita budget for each school

# Get the descriptive statistics for the per_school_capita.
per_school_capita.describe()

In [ ]:
#Applies the "Cut" function to "per_school_capita" ans creates spending ranges

#Define list of spending ranges (criteria)
spending_bins = [0,585, 615, 645, 675]

#Applies pd.cut() to df based on criteria. 
#The result displays each schools the range they belong to
pd.cut(per_school_capita, spending_bins)

In [ ]:
#Performs same as above but without 0
spending_bins = [585, 615, 645, 675]

pd.cut(per_school_capita, spending_bins)

In [ ]:
# Cut the per_school_capita into the spending ranges.
spending_bins = [0, 585, 630, 645, 675]

#Uses groupby() funtion and count() method To find out
#How many schools are in each bin
per_school_capita.groupby(pd.cut(per_school_capita, spending_bins)).count()

In [ ]:
# Establish the spending bins and group names.
spending_bins = [0, 585, 630, 645, 675]
group_names = ["<$584", "$585-630", "$630-644", "$645-675"]

In [ ]:
#Creates a new column to per_school_summary_df to assign the spending bins
# create column for df using [name of column] 
# Applies cut method to df based on "per_school_capita"
#Indicates "spending_bins" as criteria
#indicates "labels=group_names" as the result to display
per_school_summary_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=group_names)

#Shows the entire df with the range bin defined
per_school_summary_df

In [ ]:
# Calculate averages for the desired columns.
spending_math_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]

spending_reading_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]

spending_passing_math = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]

spending_passing_reading = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]

overall_passing_spending = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [ ]:
overall_passing_spending.map("{:,.6f}".format)[-2]

### Create the Spending Summary DataFrame

In [ ]:
# Assemble into DataFrame.
spending_summary_df = pd.DataFrame({
          "Average Math Score" : spending_math_scores,
          "Average Reading Score": spending_reading_scores,
          "% Passing Math": spending_passing_math,
          "% Passing Reading": spending_passing_reading,
          "% Overall Passing": overall_passing_spending})

spending_summary_df

In [ ]:
# Formatting
spending_summary_df["Average Math Score"] = spending_summary_df["Average Math Score"].map("{:.1f}".format)

spending_summary_df["Average Reading Score"] = spending_summary_df["Average Reading Score"].map("{:.1f}".format)

spending_summary_df["% Passing Math"] = spending_summary_df["% Passing Math"].map("{:.0f}".format)


spending_summary_df["% Passing Reading"] = spending_summary_df["% Passing Reading"].map("{:.0f}".format)

spending_summary_df["% Overall Passing"] = spending_summary_df["% Overall Passing"].map("{:.0f}".format)

spending_summary_df

### Create Bins for School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
#Creates a new column to per_school_summary_df to assign the spending bins
# create column for df using [name of column] 
# Applies cut method to df based on "per_school_summary_df["Total Students"]""
#Indicates "School Size" as criteria
#indicates "labels=group_names" as the result to display
per_school_summary_df["School Size"] = pd.cut(per_school_summary_df["Total Students"], size_bins, labels=group_names)

#Shows the entire df with the range bin defined
per_school_summary_df.head()

In [ ]:
# Calculate averages for the desired columns.

#1.Group columns data based on School size
#2.Perform average calculation
#3.Name column

size_math_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Math Score"]

size_reading_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Reading Score"]

size_passing_math = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Math"]

size_passing_reading = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Reading"]

size_overall_passing = per_school_summary_df.groupby(["School Size"]).mean()["% Overall Passing"]

In [ ]:
#Add averages to new data frame ({})

# Assemble into DataFrame.
size_summary_df = pd.DataFrame({
          "Average Math Score" : size_math_scores,
          "Average Reading Score": size_reading_scores,
          "% Passing Math": size_passing_math,
          "% Passing Reading": size_passing_reading,
          "% Overall Passing": size_overall_passing})

size_summary_df

In [ ]:
# Formatting.
size_summary_df["Average Math Score"] = size_summary_df["Average Math Score"].map("{:.1f}".format)

size_summary_df["Average Reading Score"] = size_summary_df["Average Reading Score"].map("{:.1f}".format)

size_summary_df["% Passing Math"] = size_summary_df["% Passing Math"].map("{:.0f}".format)

size_summary_df["% Passing Reading"] = size_summary_df["% Passing Reading"].map("{:.0f}".format)

size_summary_df["% Overall Passing"] = size_summary_df["% Overall Passing"].map("{:.0f}".format)

size_summary_df

### DataFrame that groups the same averages and percentages by the type of school: district and charter.

In [ ]:
# Create columns for data frame
#Calculate averages for the desired columns.
type_math_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Math Score"]

type_reading_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Reading Score"]

type_passing_math = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Math"]

type_passing_reading = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Reading"]

type_overall_passing = per_school_summary_df.groupby(["School Type"]).mean()["% Overall Passing"]

In [ ]:
# Assemble created columns into DataFrame.
type_summary_df = pd.DataFrame({
          "Average Math Score" : type_math_scores,
          "Average Reading Score": type_reading_scores,
          "% Passing Math": type_passing_math,
          "% Passing Reading": type_passing_reading,
          "% Overall Passing": type_overall_passing})

#Display data fram
type_summary_df

In [ ]:
# Adjust Formatting for each column on df

type_summary_df["Average Math Score"] = type_summary_df["Average Math Score"].map("{:.1f}".format)

type_summary_df["Average Reading Score"] = type_summary_df["Average Reading Score"].map("{:.1f}".format)

type_summary_df["% Passing Math"] = type_summary_df["% Passing Math"].map("{:.0f}".format)

type_summary_df["% Passing Reading"] = type_summary_df["% Passing Reading"].map("{:.0f}".format)

type_summary_df["% Overall Passing"] = type_summary_df["% Overall Passing"].map("{:.0f}".format)

type_summary_df