In [2]:
# Add the dependencies.
import pandas as pd
import os

In [4]:
# Declares variables for Files to load and indicates file(s) location
school_data_to_load = os.path.join("Resources", "schools_complete.csv")
student_data_to_load = os.path.join("Resources", "students_complete.csv")

# Read the school data file and store it in a Pandas DataFrame.
school_data_df = pd.read_csv(school_data_to_load)
school_data_df

student_data_df = pd.read_csv(student_data_to_load)
#Uses .head to only display the first 5 rows on the data set
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

Returns the rows on which columns that are now null (empty)
school_data_df.count()

Returns the rows on which columns that are now null (empty)
student_data_df.count()

Returns true (if null) and false (if no null) for every value on the data frame
student_data_df.isnull()

Summarizes all true (if null) values for each column on the data frame
student_data_df.isnull().sum()

Determine if there are not any missing values in the school data.
school_data_df.notnull()

Determine if there are not any missing values in the student data.
student_data_df.notnull().sum()

In [15]:
#Handle Missing Data
import pandas as pd

#Declares variable to store data frame and indicates the file location
file_to_load = "Resources/missing_grades.csv"

#Read the csv file into a dataframe
missing_grade_df = pd.read_csv(file_to_load)

# Drop the NaNs (not a number)
#missing_grade_df.dropna()

# Fill in the empty rows with .
missing_grade_df.fillna(85)

   Student ID       student_name gender grade  reading_score  math_score
0           0       Paul Bradley      M   9th           66.0        79.0
1           1       Victor Smith      M  12th           94.0        61.0
2           2    Kevin Rodriguez      M  12th           85.0        60.0
3           3  Dr. Richard Scott      M  12th           67.0        58.0
4           4         Bonnie Ray      F   9th           97.0        84.0
5           5      Bryan Miranda      M   9th           94.0        85.0
6           6      Sheena Carter      F  11th           82.0        80.0
7           7       Nicole Baker      F  12th           96.0        69.0

In [23]:
# Check the data types for each column of a DataFrame.
#school_data_df.dtypes

# Check the data types of a specific column of a DataFrame
#school_data_df["budget"].dtype

# Determine data types for the student DataFrame.
student_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [26]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

for word in prefixes_suffixes:
    student_data_df["student_name"]=student_data_df["student_name"].str.replace(word,"")
student_data_df

C:\Users\fgoulartsalomao\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  """

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75