In [1]:
# Add the dependencies.
import pandas as pd
import os

In [2]:
# Declares variables for Files to load and indicates file(s) location
school_data_to_load = os.path.join("Resources", "schools_complete.csv")
student_data_to_load = os.path.join("Resources", "students_complete.csv")

# Read the school data file and store it in a Pandas DataFrame.
school_data_df = pd.read_csv(school_data_to_load)
school_data_df

student_data_df = pd.read_csv(student_data_to_load)
#Uses .head to only display the first 5 rows on the data set
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

Returns the rows on which columns that are now null (empty)
school_data_df.count()

Returns the rows on which columns that are now null (empty)
student_data_df.count()

Returns true (if null) and false (if no null) for every value on the data frame
student_data_df.isnull()

Summarizes all true (if null) values for each column on the data frame
student_data_df.isnull().sum()

Determine if there are not any missing values in the school data.
school_data_df.notnull()

Determine if there are not any missing values in the student data.
student_data_df.notnull().sum()

In [3]:
#Handle Missing Data
import pandas as pd

#Declares variable to store data frame and indicates the file location
file_to_load = "Resources/missing_grades.csv"

#Read the csv file into a dataframe
missing_grade_df = pd.read_csv(file_to_load)

# Drop the NaNs (not a number)
#missing_grade_df.dropna()

# Fill in the empty rows with .
missing_grade_df.fillna(85)

   Student ID       student_name gender grade  reading_score  math_score
0           0       Paul Bradley      M   9th           66.0        79.0
1           1       Victor Smith      M  12th           94.0        61.0
2           2    Kevin Rodriguez      M  12th           85.0        60.0
3           3  Dr. Richard Scott      M  12th           67.0        58.0
4           4         Bonnie Ray      F   9th           97.0        84.0
5           5      Bryan Miranda      M   9th           94.0        85.0
6           6      Sheena Carter      F  11th           82.0        80.0
7           7       Nicole Baker      F  12th           96.0        69.0

In [4]:
# Check the data types for each column of a DataFrame.
#school_data_df.dtypes

# Check the data types of a specific column of a DataFrame
#school_data_df["budget"].dtype

# Determine data types for the student DataFrame.
student_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [5]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

for word in prefixes_suffixes:
    student_data_df["student_name"]=student_data_df["student_name"].str.replace(word,"")
student_data_df

C:\Users\fgoulartsalomao\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  """

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

The school district summary will be a high-level snapshot of the district's key metrics:

Total number of students
Total number of schools
Total budget
Average math score
Average reading score
Percentage of students who passed math
Percentage of students who passed reading
Overall passing percentage

In [6]:
school_data_complete_df=pd.merge(student_data_df,school_data_df,on=["school_name","school_name"])
#school_data_complete_df.head()

In [7]:
# Get the total number of students.
student_count=school_data_complete_df["Student ID"].count()
student_count

39170

In [8]:
#Total of schools on data frame
school_count=school_data_complete_df["school_name"].count()
school_count

39170

In [9]:
#unique total of schools (no dupolications)
school_count_2=school_data_complete_df["school_name"].unique()
school_count_2

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [10]:
#Count of unique total of schools
len(school_data_complete_df["school_name"].unique())

15

In [11]:
#Get the Total Budget using sum from the school data df (csv)
total_budget=school_data_df["budget"].sum()
total_budget

24649428

In [12]:
#Find the Average Reading Score

# Calculate the average reading score.
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [13]:
#Find the Average Math Score

# Calculate the average math score.
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

78.98537145774827

In [14]:
#Get the Passing Percentages
#Declares a variable that list  true and false for each data row based on criteria
passing_math=school_data_complete_df["math_score"]>=70
passing_reading=school_data_complete_df["reading_score"]>=70

In [15]:
#Get only students within the passing criteria
passing_math=school_data_complete_df[school_data_complete_df["math_score"]>=70]
passing_math.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [16]:
passing_reading=school_data_complete_df[school_data_complete_df["reading_score"]>=70]
passing_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [17]:
#Get the total # of students who have passed (under criteria)
passing_math["student_name"].count()

29370

In [18]:
#Get the total # of students who have passed (under criteria)
passing_reading["student_name"].count()

33610

In [19]:
#Variable to store passing scores (data under criteria) 
passing_math_count=passing_math["student_name"].count()
print(passing_math_count)
passing_reading_count=passing_reading["student_name"].count()
print(passing_reading_count)

29370
33610

In [20]:
#Calculate the percentage of students who passed math and reading
#declare variables for the percentages for math and readin
passing_math_percentage = passing_math_count / student_count * 100
passing_reading_percentage = passing_reading_count / student_count * 100
print(passing_math_percentage)
print(passing_reading_percentage)

74.9808526933878
85.80546336482001

In [21]:
#Get the overall passing score. 
#Combine the classes passing score lists
passing_math_reading=school_data_complete_df[(school_data_complete_df["math_score"]>=70)&(school_data_complete_df["reading_score"]>=70)
]
passing_math_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [22]:
#Print total number of overall passing sutdents (both classes)
passing_math_reading["student_name"].count()

25528

In [29]:
#Percentage of overall passing students (both classes)
overall_passing_percentage = passing_math_reading["student_name"].count() / student_count * 100
overall_passing_percentage

65.17232575950983

In [72]:
#Crate a summary tbale(df) to store analysis results above
#Declare a new data frame name (district_summary_df) as pandas (pd) data fram (DataFrame)
# Add the keys(columns) and rows(values) using the variables calculated previously
district_summary_df=pd.DataFrame([{"Total Schools":len(school_count_2),"Total Students": student_count,
                                  "Total Budget":total_budget,                                  
                                  "Average Math Score":average_math_score,
                                "Average Reading Score":average_reading_score,                                 
                                 "% Passing Math":passing_math_percentage,
                                   "% Passing Reading":passing_reading_percentage,
                                 "% Overall Passing":overall_passing_percentage}])

# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
# Format the "Total Budget" to have the comma for a thousands separator, a decimal separator and a "$".
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

# Display the data frame
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

### Formating to results using function

#### There are four basic parts to a function:

-The name, which is what we call the function

-The parameters, which are values we send to the function

-The code block, which are the statements under the function that perform the -task

-The return value, which is what the function gives back, or "returns," to use 

-when the task is complete

In [31]:
# Define the function "say_hello" so it prints "Hello!" when called.
def say_hello():
    print("Hello!")
# Call the function.
say_hello()

Hello!

In [32]:
# Define the function "say_something" so it prints whatever is passed as the variable when called.
def say_something(something):
    print(something)

# Call the function.
say_something("Hello World")

Hello World

In [33]:
Jane_says = "Hi, my name is Jane. I'm learning Python!"
say_something(Jane_says)

Hi, my name is Jane. I'm learning Python!

In [51]:
def passing_math_percent():
    return passing_math_count / student_count * 100
passing_math_percent()

74.9808526933878

Reorder the columns in the order you want them to appear.
new_column_order = ["column2", "column4", "column1"]

Assign a new or the same DataFrame the new column order.
df = df[new_column_order]

Reorder the columns in the order you want them to appear.
new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

Assign district summary df the new column order.
district_summary_df = district_summary_df[new_column_order]
district_summary_df