In [ ]:
high_schools = ["Hernandez High School","Figueroa High School","Wilson High School",
                "Wright High School"]

for school in high_schools:
    print(school)

In [ ]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

for type in high_school_types:
    print(type)

In [3]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School",
                "Hernandez High School","Griffin High School","Wilson High School",
                "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School",
                "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School",
                "Thomas High School"]

# Add the Pandas dependency.
import pandas as pd
#Create a Pandas Series (one-dimensional array - list of objects) for the list of high schools

school_series = pd.Series(high_schools)
#school_series

for serie in high_schools:
    print(serie)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [5]:
#Pandas Data Frames - two-dimansional labeled data structure (like a distionary), with rows and columns
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [7]:
#Convert Lists (or series) into a data frame

# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

schools_df=pd.DataFrame()

# Add the list to a new DataFrame. This case, school_id into schools_df
schools_df["School ID"] = school_id

# Add school_name as School Name to data frame
schools_df["School Name"] = school_name

# Add type_of_school as Type to data frame
schools_df["Type"] = type_of_school

# Print the DataFrame.
schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [9]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}
high_schools_dict_df =pd.DataFrame(high_schools_dict)
high_schools_dict_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [10]:
#shows the columns on the data frame (dict)
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [12]:
#Shows the index in the data frame (dict)
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [13]:
#Shows the values(cells) in the data frame (dict)
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [21]:
school_id = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]
school_name = ["Huang High School","Figeroa High School","Shelton High School","Hernandez High School","Griffin High School","Wilson High School","Cabrera High School","Bailey High School","Holden High School","Pena High School","Wright High School","Rodriguez High School","Johnson High School","Ford High School","Thomas High School"]
school_type = ["District","District","Charter","District","Charter","Charter","Charter","District","Charter","Charter","Charter","District","District","District","Charter"]

#Create an empty data frame to storage the above lists
high_school_df=pd.DataFrame()

high_school_df["School ID"]= school_id
high_school_df["school_name"]= school_name
high_school_df["type"]= school_type

print(high_school_df)

    School ID            school_name      type
0           0      Huang High School  District
1           1    Figeroa High School  District
2           2    Shelton High School   Charter
3           3  Hernandez High School  District
4           4    Griffin High School   Charter
5           5     Wilson High School   Charter
6           6    Cabrera High School   Charter
7           7     Bailey High School  District
8           8     Holden High School   Charter
9           9       Pena High School   Charter
10         10     Wright High School   Charter
11         11  Rodriguez High School  District
12         12    Johnson High School  District
13         13       Ford High School  District
14         14     Thomas High School   Charter